.navbar-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar {
        display: flex;
        background-color: rgb(115, 115, 211);
        height: 100px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 80%;
        align-self: center;
        border-radius: 20px;
    }
    .navbar a {
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-family: 'Courier New', Courier, monospace;

    }